*{
    margin: 0;
    padding: 0;
    font-family:'Popins' , sans-serif;
    box-sizing: border-box;
}

.body {
    background: #222;

}
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#5DEBD7, #5b548a);
    color: #fff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    align-items: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.125rem;

}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background 1s;
    
}
.search button:hover,
button:focus {
  background: #C5FF95;
 
}

.search button img {
    width: 16px;
    
}
.weather__icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 5rem;
    font-weight: 500;
    
}
.weather h2 {
    font-size: 2.8125rem;
    font-weight: 400;
    margin-top: -10px;

}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
}
.col img {
    width: 40px;
    margin-right: 10px;
    display: flex;
    
}
.humidity, .wind{
    font-size: 1.25rem;
    margin-top: -6px;
    
}
.weather{
    display: none;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 0.875rem;
    margin-top: 10px;
    font-weight: 400;
    color: rgb(173, 2, 2);
    display: none;
    
    
}

@media screen and (max-width: 768px){ 


    .card {
        width: 100%;
        box-sizing: border-box;

        justify-content: center;
        
    }
    .search  {
        
        
        gap: 20px;   
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
       

    }
    .search input {
        justify-content: center;
        margin: 0%;
        width: 100%;

    }
    .search button {
        padding: 10px 10px;
        justify-content: center;
        width: 10%;
        height: 10%;
        
    }
    
    .details{
        margin-top: 10%;
    }
    .col{
        margin: 0 0 10% 0;
    }

}
@media screen and (max-width: 480px) and ( min-width:320px){
    
    .card{
        justify-content: center;
        
    }
    .search button {
        width: auto;
    }
    .weather{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: none ;
    }
    img.weather__icon {
        width: auto;
       display: flex;
       align-items: center;
       margin: none;
    }   
    .temp{
        width: 100%;
        font-size: 4 rem;
    }
    .weather{
        width: 50%;
    }
    .details{
        width: 50%;}
    }
